* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

header {
    background: #005C4B;
}

nav {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 21px 60px;
    background: url('../images/Logo-Sofisa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.alert-bg {
    background-color: rgba(0, 0, 0, 0.582);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animBg 1s linear;
}

@keyframes animBg {
    0% {
        opacity: -1;
    }
    100% {
        opacity: 1;
    }
}

.alert {
    background: rgb(255, 255, 255);
    width: 50%;
    height: 90%;
    max-width: 400px;
    border-radius: 2%;
    min-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    max-height: 500px;
    flex-direction: column;
    min-height: 500px;
}

.alert-button {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 90%;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 40px
}

.button>.l1 {
    width: 20px;
    height: 2px;
    background-color: #005C4B;
    transform: rotate(45deg);
}

.button>.l2 {
    width: 20px;
    height: 2px;
    background-color: #005C4B;
    transform: rotate(-45deg);
    position: absolute;
}

.alert-button>h2 {
    color: #005C4B;
}

.separator {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.397);
    height: 1px;
}

.messages {
    width: 90%;
    margin-top: 16px;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.color-message {
    color: #005C4B;
    font-weight: bold;
}

.message-two {
    margin-top: 16px;
    text-align: initial;
}

.message-center {
    width: 90%;
    margin: 100px 0 0 0;
}

h5 {
    width: 100%;
    margin: 0 auto;
}

.bolinha {
    width: 4px;
    height: 4px;
    background-color: black;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 45%;
    opacity: 0.4;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.bnt-entendi {
    width: 90%;
    max-width: 200px;
    margin-top: 60px;
    height: 500px;
    border: 1px white;
    background-color: #005C4B;
    color: rgb(255, 255, 255);
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.24));
}